{% extends 'base.html' %}

{% block title %}Форма поезда{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>{% if train_form.instance.pk %}Изменить{% else %}Добавить{% endif %} поезд</h2>
    <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        <fieldset>
            <legend>Данные поезда</legend>
            {{ train_form.as_p }}
        </fieldset>
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'train_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
