{% extends 'base.html' %}
{% load query_transform %}

{% block title %}Список персонала{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Список персонала</h2>

    <!-- Форма фильтрации и поиска -->
    <form method="get" class="mb-3">
        <div class="row">
            <div class="col-md-10">
                <input type="text" name="q" class="form-control" placeholder="Поиск по имени, ИНН, станции, должности или бригаде" value="{{ request.GET.q }}">
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-secondary" type="submit">Поиск</button>
            </div>
        </div>
    </form>

    <a href="{% url 'personnel_create' %}" class="btn btn-primary mb-3">Добавить сотрудника</a>

    <table class="table table-striped">
        <thead>
            <tr>
                {% for field in fields %}
                    <th>
                        <a href="?{% query_transform sort=field.0 order=next_order %}">
                            {{ field.1 }}
                            {% if current_sort == field.0 %}
                                {% if current_order == 'asc' %}
                                    &#9650;  <!-- Увеличение -->
                                {% else %}
                                    &#9660;  <!-- Уменьшение -->
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                {% endfor %}
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for person in personnel %}
                <tr>
                    <td>{{ person.person_tax_id }}</td>
                    <td>{{ person.full_name }}</td>
                    <td>{{ person.station.name }}</td>
                    <td>{{ person.position.position_name }}</td>
                    <td>{{ person.crew.crew_name }}</td>
                    <td>
                        <a href="{% url 'personnel_update' person.person_tax_id %}" class="btn btn-sm btn-warning">Изменить</a>
                        <a href="{% url 'personnel_delete' person.person_tax_id %}" class="btn btn-sm btn-danger">Удалить</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" class="text-center">Нет сотрудников для отображения.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
