{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
  <div class="container text-center mt-5">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-4">Добро пожаловать в систему управления железнодорожными станциями!</h2>
        <p class="lead">
          Здесь вы можете управлять вокзалами, поездами, маршрутами и должностями.
        </p>
        <p class="mb-4">
          Используйте меню выше для навигации.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <a href="/stations/" class="btn btn-primary btn-lg btn-block">Управлять вокзалами</a>
      </div>
      <div class="col-md-6 mb-3">
        <a href="/trains/" class="btn btn-secondary btn-lg btn-block">Управлять поездами</a>
      </div>
      <div class="col-md-6 mb-3">
        <a href="/train_types/" class="btn btn-info btn-lg btn-block">Управлять типами поездов</a>
      </div>
      <div class="col-md-6 mb-3">
        <a href="/positions/" class="btn btn-warning btn-lg btn-block">Управлять должностями</a>
      </div>
    </div>
    
  </div>
{% endblock %}
